extends layout

block content
  h1= title
  if show
    form(method='post')
    p How do you rate the work of our customer service department ?
    ul 
    each item in data
      li 
        label=item.title 
        input(type='radio' name='questionnaire' value=item._id)
    input(type='submit' value='vote')

  else
    h1 You already voted
    p results :
    ul
    each item in data 
      li #{item.title} votes: #{item.vote}
  